* {
    margin: 0;
    padding: 0;
    
} 

header {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: xx-large;
}
.title-converter {
    padding-bottom: 5px;
    color:whitesmoke ;
    font-size: larger;
}
.btn-container {
    padding-top: 8px;
}
h1 strong {
    color: whitesmoke;
}

#sections {
    padding-top: 20px;
    text-align: center;
    border-style: solid;
    border-color: whitesmoke ;
}

.api-style {
    padding-top: 2px;
    color:whitesmoke;
    text-align: center;
}

.sec-1 {
    padding-bottom: 15px;
}

body {
    background-color: black;
}

h2 {
    color:whitesmoke ;
}



